// sass-lint:disable no-vendor-prefixes
// sass-lint:disable no-color-literals
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  display: block;

  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
  display: block;
}

// Lists
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;

  &:active {
    border-style: none;
  }
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  display: none;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  content: ' ';
  display: table;
}

input,
textarea,
select,
.app-store,
.android-signup,
.google-play,
.google-provider-app,
.apple-provider-app {
  cursor: pointer;
  outline: none;
}
