.center {
  text-align: center;
}

.u-txt-center {
  text-align: center;
}

.u-font-small,
.u-font-small p {
  font-size: .707em;
}

.u-underline {
  text-decoration: underline;
}

.u-bold-6 {
  font-weight: 600;
}

.u-text-uppercase {
  text-transform: uppercase;
}
