$gray-1: #a8a8a8;
$error: #a81715;
$green-1: #152d09;
$green-2: #263e22;
$green-3: #3a4b3a;
$green-4: #435e4b;
$green-5: #19472c;

// TESTING TODO FIXME DELETME
$m-orange-shade-1: #fc9f1b;
$m-orange-shade-2: #fca831;
$m-orange-shade-3: #fcb248;
$m-orange-shade-4: #fcbb5f;
$m-orange-shade-5: #fdc576;


$default-font-color: #333;
$white: #fdfdfd;
