$gray-1: #a8a8a8;
$error: #a81715;

// TESTING TODO FIXME DELETME
$m-orange-shade-1: #fc9f1b;
$m-orange-shade-2: #fca831;
$m-orange-shade-3: #fcb248;
$m-orange-shade-4: #fcbb5f;
$m-orange-shade-5: #fdc576;

$default-font-color: #333;
$white: #fdfdfd;

$blue: #3d85c6;
$green: #91c84a;
$orange: #fc9f1b;
$purple: #bb5aee;
