// m-transform - mixin for transforms
// sass-lint:disable no-vendor-prefixes

// Browser Prefixes
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// Translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin translate-y($y) {
  @include transform(translate-y($y));
}

// Skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin skew-y($y) {
  @include transform(skew-y(#{$y}deg));
}
